@import "tailwindcss";


  /* Prevent horizontal scroll globally */



body {
  font-family: 'Satoshi', sans-serif;
}

@font-face {
  font-family: 'Marcellus';
  src: url('./assets/font/Marcellus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.marcellus-text {
  font-family: 'Marcellus', serif;
}

/* index.css */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* FOR HEADLINE CONTINUESLY */

.ticker {
  display: flex;
  white-space: nowrap;
  position: relative;
}

.ticker__content {
  display: inline-block;
  animation: scroll 50s linear infinite;
}

.ticker__content span {
  display: inline-block;
  margin-right: 2rem; /* adjust spacing */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* FOR CUSTOMER REVIEW CONTINUESLY */

.review-ticker-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.review-ticker {
  display: flex;
  gap: 2rem;
  animation: scroll-review 10s linear infinite;
  white-space: nowrap;
}

  .review-ticker-wrapper:hover .review-ticker {
  animation-play-state: paused;
}


@keyframes scroll-review {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* FOR CARD */

:root {
	--cards: 4;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	background-color: #FFEED9;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #E8F7F1;
}
#card3 .card-body {
	background-color: #FFE7EE;
}
#card4 .card-body {
	background-color: #EAEEFE;
}
#card5 .card-body {
	background-color: #F4F4F4;
}

.card-body {
	box-sizing: border-box;
	padding: 30px;
	border-radius: 50px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
	height: var(--cardHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

h2 {
	font-size: 2.5em;
}




